.suppliers-container{
    min-height: 100vh;
    background-color: whitesmoke;
    font-family: sans-serif,Arial;
}

.suppliers-header{
    background: linear-gradient(135deg, #4d7baf, #2d5481);
    padding: 45px 20px 20px;
    color: #ffffff;
    text-align: center;
}

.suppliers-header h1{
    font-size: 32px;
}

.search-container{
    max-width: 600px;
    margin:0 auto 0;
    padding:10px 20px ;
}

.search-container input{
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    box-shadow: 0 6px 14px  rgb(0, 0, 0,0.1);
}

.search-container input:focus{
    outline: none;
    border-color: #c671f7;
    box-shadow: 0 6px 14px  rgba(255, 134, 201, 0.7);
}

.suppliers-grid{
    max-width: 1800px;
    margin: 20px 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.supplier{
    width: 100%;
    margin: 0 20px;
    padding: 0 20px;
}
