body{
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.header {
  height: 60px;
  width: 100%;
  background: #5b63ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 3px solid white;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

.title{
  color: white;
  margin-right: 20px;
  font-size: 20px;
  padding-left: 10px;
  justify-self: start;
  font-weight: bold;}

.nav-left a {
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  padding-right: 10px;
  transition: 0.2s ease-in;
}



.nav-left a:active {
  font-weight: bold;
  color: #bbbbbb;
}

.header-icon{
  display: block;
  color: white;
}


@media (max-width: 900px) {
  .header-name{
    display: none;
    position: absolute;
    transform: translate(25px,25px);
    align-self: center;
    background-color: rgb(0, 0, 0);
    padding: 2px 10px;
    border-radius: 8px;
    box-shadow: 0 6px 16px 2px rgba(255, 255, 255, 0.3);
    transition: 0.5s ease-in-out;
  }

  .nav-left a:hover{
      padding: 0px 30px;
    .header-name{
      display:block;
    }
  }

}

@media (min-width: 900px) and (max-width: 1024px) {
  .header-icon{
    display: none;
  }


  .header-name{
    display: block;
  }
}

@media(min-width:1024px){
  .nav-left a:hover {
  color: #bbbbbb;
  transform: translateY(-5px);

  .header-icon{
    color: #bbbbbb;
  }

}
}