.depos-container{
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f4f6f9;
    min-height: 100vh;
}

.depos-header{
    background: linear-gradient(135deg, #4d7baf, #2d5481);
    padding: 45px 20px 20px;
    color: #f4f6f9;
    text-align: center;
    margin: 0px 0px 10px;
}

.depos-header h1{
    font-size: 32px;
}

.depos-header p{
    font-size: 15px;
    opacity: 0.8;
}

.search-container{
    max-width: 600px;
    margin:0px auto 0px;
    padding:10px 20px;
}

.search-container input{
    width: 100%;
    padding:12px 16px;
    border-radius: 8px;
    border: 1px solid #777;
    font-size: 14px;
    box-shadow: 0 6px 14px rgb(0, 0, 0,0.1);
}

.search-container input:focus{
    outline: none;
    border-color: #e2b1ff;
}

.depos-grid{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
