.supplier-container {
min-height: 100vh;
background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
padding: 24px;
}

.supplier-header {
background: white;
padding: 32px;
border-bottom: 10px solid rgb(158, 189, 255);
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.status{
    font-size: 12px;
    border-radius: 12px;
    font-weight: 600px;
    padding: 4px 10px;
}

.status.active{
    background-color: #e8f6ef;
    color: #1e8449;
}

.status.inactive{
    background-color: #fdecea;
    color: #922b21;
}

.header-content {
display: flex;
align-items: center;
gap: 24px;
display: block;
flex-wrap: wrap;
}

.supplier-info {
flex: 1;
min-width: 300px;
border-bottom: 2px solid black;
margin-bottom: 20px;
}

.supplier-name {
font-size: 28px;
font-weight: bold;
color: #111827;
margin: 0 0 8px 0;
}

.supplier-id,.meta-item  {
color: #6b7280;
margin: 0 0 16px 0;
font-size: 14px;
}

.supplier-meta {
display: flex;
flex-wrap: wrap;
gap: 20px;
}


.stats-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
margin-bottom: 24px;
}

.stat-card {
background: rgb(248, 248, 248);
border-radius: 12px;
padding: 24px;
display: flex;
align-items: center;
gap: 16px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
transition: transform 0.3s;
}

.stat-value {
font-size: 16px;
background-color: #deeee9e5;
padding: 5px 10px;
border: 1px solid rgb(133, 168, 157);
border-radius: 16px;
font-weight: bold;
color: #3f8372;
}

.stat-label {
font-size: 16px;
font-weight: bold;
color: #6b7280;
}

.view-selector {
display: flex;
gap: 12px;
margin-bottom: 24px;
}

.view-tab {
flex: 1;
padding: 16px 24px;
background: rgba(255, 255, 255, 0.9);
border: none;
border-radius: 12px;
font-size: 16px;
font-weight: 600;
color: #6b7280;
cursor: pointer;
transition: all 0.3s;
}

.view-tab:hover {
background: white;
transform: translateY(-2px);
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.view-tab.active {
background: white;
color: #667eea;
box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.products-section,
.distributions-section,
.production-section {
background: white;
border-radius: 16px;
padding: 32px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
